# R `tidyverse` exercise

We will be working with the output files from the STAR aligner for this exercise. Thse files have four columns 

```
column 1: gene ID 
column 2: counts for unstranded RNA-seq 
column 3: counts for the 1st read strand aligned with RNA (htseq-count option -s yes) 
column 4: counts for the 2nd read strand aligned with RNA (htseq-count option -s reverse) 
```

For explanation, see [STAR quantMode geneCounts values](https://www.biostars.org/p/218995/)

Based on the protocol we are using column 4 is the sense strand reads and column 3 is the anti-sense read counts, so we will be working with columns 1 and 4.

In [7]:
library(tidyverse)

Loading tidyverse: ggplot2
Loading tidyverse: tibble
Loading tidyverse: tidyr
Loading tidyverse: readr
Loading tidyverse: purrr
Loading tidyverse: dplyr
Conflicts with tidy packages ---------------------------------------------------
filter(): dplyr, stats
lag():    dplyr, stats

We will work with the following data from the 4 lanes.

```
1_MA_J_S18_L001_ReadsPerGene.out.tab
1_MA_J_S18_L002_ReadsPerGene.out.tab
1_MA_J_S18_L003_ReadsPerGene.out.tab
1_MA_J_S18_L004_ReadsPerGene.out.tab
```

found in the directory

```
/data/hts2018_pilot/star_counts
```

## Setting up variables

**1**. Use `file.path` to create a path to the data directory and save it as the variable `data_dir`.

In [15]:
data_dir <- "/data/hts2018_pilot/star_counts"

In [16]:
data_dir <-  file.path('/', 'data', 'hts2018_pilot', 'star_counts')

**2**. Save the filenames in a variable `filenames`

In [17]:
filenames <- c('1_MA_J_S18_L001_ReadsPerGene.out.tab',
'1_MA_J_S18_L002_ReadsPerGene.out.tab',
'1_MA_J_S18_L003_ReadsPerGene.out.tab',
'1_MA_J_S18_L004_ReadsPerGene.out.tab')

## Explore one data file

**3**. Read the data from the first file into a `data.frame` or `tibble` called `df`. Note that the file does not have a header row. Name the columns `id`,`us`,  `fs`  and `rs`.

In [18]:
f1 <- file.path(data_dir, filenames[[1]])
f1

[1] "//data/hts2018_pilot/star_counts/1_MA_J_S18_L001_ReadsPerGene.out.tab"

In [19]:
df <- read_tsv(f1, col_names = c('id', 'us', 'fs', 'rs'))

Parsed with column specification:
cols(
  id = col_character(),
  us = col_integer(),
  fs = col_integer(),
  rs = col_integer()
)

**4**. View the first and last 10 lines of `df`

In [20]:
df %>% head(10)

   id             us     fs      rs
1  N_unmapped       2690    2690  2690
2  N_multimapping  66100   66100 66100
3  N_noFeature     10626 2238382 20347
4  N_ambiguous    173170    1622   647
5  CNAG_04548          0       0     0
6  CNAG_07303          0       0     0
7  CNAG_07304          8       0     8
8  CNAG_00001          0       0     0
9  CNAG_07305          0       0     0
10 CNAG_00002         66       0    66

In [21]:
df %>% tail(10)

   id              us fs rs
1  CNAG_09008      1  0  1
2  CNAG_09009      9  0  9
3  CNAG_11015      0  0  0
4  ENSRNA049545623 0  0  0
5  CNAG_11016      0  0  0
6  ENSRNA049545680 0  0  0
7  CNAG_09010      0  0  0
8  CNAG_09011      0  0  0
9  ENSRNA049545749 0  0  0
10 CNAG_09012      0  0  0

**5**. Save the lines from 5 onwards into a new `data.frame`  called `df_genes`.

In [22]:
df_genes <- df %>% slice(-(1:4))

In [23]:
df_genes %>% head(3)

  id         us fs rs
1 CNAG_04548 0  0  0
2 CNAG_07303 0  0  0
3 CNAG_07304 8  0  8

**6**. Create a new file from `df_genes` contining only the 1st and 4th columns and save as a new variable `df_final`.

In [24]:
df_final <- df_genes %>% select(id, rs)
df_final %>% head(3)

  id         rs
1 CNAG_04548 0
2 CNAG_07303 0
3 CNAG_07304 8

**7**. Now do steps 3, 5 and 6 for the other 3 files using a loop, and combine them with `df_final` using `full_join` on the `id` column to end up with a data.frame with 5 columns (id and 4 count columns).

In [25]:
for (i in 2:4) {
    filename <- filenames[i]
    path <- file.path(file.path(data_dir, filename))
    df <- suppressMessages(read_tsv(path, col_names =c('id', 'us', 'fs', 'rs')))
    df <- df %>% slice(-(1:4)) %>% select('id', 'rs')
    df_final <- full_join(df_final, df, by = 'id') 
}

**8**. Rename the counts columns as `lane1`, `lane2`, `lane3` and `lane4`. At this point you should have a `data.frame` that looks like this

| id |	lane1 | lane2 | lane3 | lane4 |
| - | - | - | - | -| 
| gene0 | 0 |	0 |	0 |	1 |
| gene1	| 0 |	0 |	0 |	0 |
| gene2	| 8 |	4 |	10 | 3 |

In [26]:
names(df_final) <- c('id', 'lane1', 'lane2', 'lane3', 'lane4')

In [27]:
head(df_final, 3)

  id         lane1 lane2 lane3 lane4
1 CNAG_04548 0     0      0    1
2 CNAG_07303 0     0      0    0
3 CNAG_07304 8     7     10    9

**9**. Create a new column containng the sum of lanes 1-4 called `counts` and save as `df_wiht_counts`.

In [28]:
df_with_counts <- df_final %>% 
mutate(counts = lane1 + lane2+ lane3 + lane4) 
head(df_with_counts)

  id         lane1 lane2 lane3 lane4 counts
1 CNAG_04548  0     0     0     1      1
2 CNAG_07303  0     0     0     0      0
3 CNAG_07304  8     7    10     9     34
4 CNAG_00001  0     0     0     0      0
5 CNAG_07305  0     1     0     0      1
6 CNAG_00002 66    59    74    66    265

**Note on more facny R**.

If there are too many columns to add, you can use `Reduce`. The funny `.` notation is a dummy variable for the entity begin pipled in. 

`Reduce` applies the binary operation in the first argument to all pairs of variables in the second arguemnt, with an optional initial value (defaults to a the identity for the binary operation).

For example:

`Reduce('+', 1:4)` is the same as `Reduce('+', 1:4, 0)` which is `((((0 + 1) + 2) + 3) + 4)` and returns 10 - i.e. this gives the same result as sum.

In [35]:
df_final %>% 
mutate(counts = Reduce('+', .[2:5])) %>% 
head(5)

  id         lane1 lane2 lane3 lane4 counts
1 CNAG_04548 0     0      0    1      1
2 CNAG_07303 0     0      0    0      0
3 CNAG_07304 8     7     10    9     34
4 CNAG_00001 0     0      0    0      0
5 CNAG_07305 0     1      0    0      1

**10**. Keep only the `id` and `coutns` columns and remove reow where the gene count is 0 and save as `df_counts`. 

- How many genes with non-zero counts are there?
- What is the gene(s) with the highest count?
- What are the top 10 largest counts - i.e. the set with the largest number of genes having the same count?

In [36]:
df_with_counts

     id              lane1 lane2 lane3 lane4 counts
1    CNAG_04548        0     0     0     1      1
2    CNAG_07303        0     0     0     0      0
3    CNAG_07304        8     7    10     9     34
4    CNAG_00001        0     0     0     0      0
5    CNAG_07305        0     1     0     0      1
6    CNAG_00002       66    59    74    66    265
7    CNAG_00003       38    25    27    22    112
8    CNAG_00004       74    79    79    69    301
9    CNAG_00005       33    25    32    24    114
10   CNAG_12000       31    45    39    36    151
11   CNAG_12001        2     7     0     4     13
12   CNAG_00006      488   477   496   443   1904
13   CNAG_00007      503   518   538   467   2026
14   CNAG_00008      225   198   210   213    846
15   CNAG_00009      144   149   120   134    547
16   CNAG_00010      166   148   162   179    655
17   CNAG_00011       38    47    36    46    167
18   CNAG_00012      134   118   106   118    476
19   CNAG_00013       77    69    73    70    289
20   CNAG_00014       17    21    20    23     81
21   CNAG_00015        3     5     3     3     14
22   CNAG_00016      303   244   280   250   1077
23   CNAG_00017       34    31    28    29    122
24   CNAG_12002        1     2     1     2      6
25   CNAG_00018      174   154   159   182    669
26   CNAG_00019      321   329   323   300   1273
27   CNAG_00020      161   188   164   181    694
28   CNAG_12003        4     2     0     4     10
29   CNAG_00021      265   272   238   227   1002
30   CNAG_12004        0     0     4     2      6
⋮    ⋮               ⋮     ⋮     ⋮     ⋮     ⋮
8468 CNAG_11005        0     0     0     0      0
8469 ENSRNA049545853   0     0     0     0      0
8470 CNAG_09004        1     2     2     2      7
8471 CNAG_09005        1     0     1     0      2
8472 CNAG_09006        3     3     1     3     10
8473 CNAG_11007        0     0     0     0      0
8474 ENSRNA049545304   0     0     0     0      0
8475 CNAG_11008        0     0     0     0      0
8476 ENSRNA049545347   0     0     0     0      0
8477 CNAG_09007      265   311   324   314   1214
8478 CNAG_11009        0     0     0     0      0
8479 ENSRNA049545387   0     0     0     0      0
8480 CNAG_11010        0     0     0     0      0
8481 ENSRNA049545437   0     0     0     0      0
8482 CNAG_11011        0     0     0     0      0
8483 ENSRNA049545497   0     0     0     0      0
8484 CNAG_11012        0     0     0     0      0
8485 ENSRNA049545566   0     0     0     0      0
8486 CNAG_11013        0     0     0     0      0
8487 ENSRNA049545785   0     0     0     0      0
8488 CNAG_09008        1     0     0     1      2
8489 CNAG_09009        9    14     6     4     33
8490 CNAG_11015        0     0     0     0      0
8491 ENSRNA049545623   0     0     0     0      0
8492 CNAG_11016        0     0     0     0      0
8493 ENSRNA049545680   0     0     0     0      0
8494 CNAG_09010        0     1     0     0      1
8495 CNAG_09011        0     1     1     0      2
8496 ENSRNA049545749   0     0     0     0      0
8497 CNAG_09012        0     1     2     4      7

In [37]:
df_counts <- df_with_counts %>% 
select(id, counts) %>%
filter(counts != 0)

df_counts

     id         counts
1    CNAG_04548    1
2    CNAG_07304   34
3    CNAG_07305    1
4    CNAG_00002  265
5    CNAG_00003  112
6    CNAG_00004  301
7    CNAG_00005  114
8    CNAG_12000  151
9    CNAG_12001   13
10   CNAG_00006 1904
11   CNAG_00007 2026
12   CNAG_00008  846
13   CNAG_00009  547
14   CNAG_00010  655
15   CNAG_00011  167
16   CNAG_00012  476
17   CNAG_00013  289
18   CNAG_00014   81
19   CNAG_00015   14
20   CNAG_00016 1077
21   CNAG_00017  122
22   CNAG_12002    6
23   CNAG_00018  669
24   CNAG_00019 1273
25   CNAG_00020  694
26   CNAG_12003   10
27   CNAG_00021 1002
28   CNAG_12004    6
29   CNAG_00022  842
30   CNAG_00023   27
⋮    ⋮          ⋮
7828 CNAG_06509   45
7829 CNAG_06510  323
7830 CNAG_06511  314
7831 CNAG_06512   67
7832 CNAG_07944  213
7833 CNAG_06515  103
7834 CNAG_06516   36
7835 CNAG_13141   13
7836 CNAG_06517  588
7837 CNAG_06519  166
7838 CNAG_06520  139
7839 CNAG_06521   17
7840 CNAG_13142  136
7841 CNAG_07945    3
7842 CNAG_07946    5
7843 CNAG_07041    4
7844 CNAG_07043   73
7845 CNAG_09000    5
7846 CNAG_09001    2
7847 CNAG_09002   10
7848 CNAG_09003    2
7849 CNAG_09004    7
7850 CNAG_09005    2
7851 CNAG_09006   10
7852 CNAG_09007 1214
7853 CNAG_09008    2
7854 CNAG_09009   33
7855 CNAG_09010    1
7856 CNAG_09011    2
7857 CNAG_09012    7

In [39]:
df_counts %>% summarize(total = n())

  total
1 7857

In [40]:
df_counts %>% filter(counts == max(counts))

  id         counts
1 CNAG_06125 213686

In [41]:
df_counts %>% 
group_by(counts) %>% 
summarize(num_genes = n())  %>%
arrange(desc(num_genes)) %>%
head(10)

   counts num_genes
1   1     183
2   2     133
3   3     107
4   5      90
5   4      88
6   6      81
7   7      76
8   8      56
9   9      56
10 11      55